<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <label class="form-label" for="Title" >Title</label>
    <input type="text" class="form-input" id="title-input" value="{{title}}">
    <label class="form-label" for="description">Description</label>
    <input type="text" class="form-input" id="description-input" value ="{{description}}">

    <button type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </form>
</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
