{{#each posts as |post|}}
<div class="card mt-5">
            <div class="card-body">
                <div class="post-title d-flex justify-content-between bg-dark p-2">
                <h4>{{post.title}}</h4>
                <h4>Poste by {{post.user.username}} on {{post.created_at}}</h4>
            </div>
                <p class="card-text">{{post.description}}</p>            
            </div>
        </div>
{{/each}}